In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import PIL
from PIL import ImageEnhance
from PIL import Image
import matplotlib.pyplot as plt
from matplotlib import image

In [2]:
# convert horse images into flatten 
a=[]
for i in range(1,1047):
    
    t=Image.open(r"C:\Users\mounika katla\Downloads\Horses_Augmented-20230506T132537Z-001\Horses_Augmented\horse ({}).jpg".format(i))
    y=ImageEnhance.Color(t)
    y=y.enhance(0)
    y=np.array(y)
    z=y.flatten()
    a.append(z)
df=pd.DataFrame(a)
df

,0,1,2,3,4,5,6,7,8,9,...,150518,150519,150520,150521,150522,150523,150524,150525,150526,150527
0,-77,-77,-77,-77,-77,-77,-77,-77,-77,-77,...,-94,-72,-72,-72,-79,-79,-79,-83,-83,-83
1,-58,-58,-58,-58,-58,-58,-58,-58,-58,-58,...,-78,-111,-111,-111,-111,-111,-111,125,125,125
2,-41,-41,-41,-41,-41,-41,-41,-41,-41,-41,...,-36,-28,-28,-28,-23,-23,-23,-27,-27,-27
3,34,34,34,41,41,41,51,51,51,60,...,-72,-70,-70,-70,-71,-71,-71,-66,-66,-66
4,-106,-106,-106,-126,-126,-126,114,114,114,-123,...,93,100,100,100,82,82,82,53,53,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1041,-32,-32,-32,-32,-32,-32,-32,-32,-32,-31,...,-86,-89,-89,-89,-82,-82,-82,-74,-74,-74
1042,103,103,103,92,92,92,118,118,118,-101,...,-10,-9,-9,-9,-11,-11,-11,-14,-14,-14
1043,-46,-46,-46,-46,-46,-46,-46,-46,-46,-46,...,100,100,100,100,114,114,114,102,102,102
1044,-72,-72,-72,-72,-72,-72,-72,-72,-72,-72,...,-52,-49,-49,-49,-46,-46,-46,-45,-45,-45
1045,51,51,51,52,52,52,53,53,53,54,...,84,81,81,81,94,94,94,103,103,103

In [3]:
# labelling the horse images with 0
df["label"]=0

In [4]:
# converting donkey images into flatten 
b=[]
for i in range(1,971):
    
    t=Image.open(r"C:\Users\mounika katla\Downloads\Donkeys_Augmented-20230506T132534Z-001\Donkeys_Augmented\Donkey ({}).jpg".format(i))
    y=ImageEnhance.Color(t)
    y=y.enhance(0)
    y=np.array(y)
    z=y.flatten()
    b.append(z)
df2=pd.DataFrame(b)
df2

,0,1,2,3,4,5,6,7,8,9,...,150518,150519,150520,150521,150522,150523,150524,150525,150526,150527
0,82,82,82,83,83,83,83,83,83,81,...,105,104,104,104,97,97,97,102,102,102
1,120,120,120,120,120,120,120,120,120,120,...,86,102,102,102,114,114,114,116,116,116
2,-3,-3,-3,-3,-3,-3,-4,-4,-4,-4,...,-125,123,123,123,119,119,119,-115,-115,-115
3,-60,-60,-60,-59,-59,-59,-62,-62,-62,-69,...,-107,-113,-113,-113,-118,-118,-118,-105,-105,-105
4,104,104,104,113,113,113,109,109,109,96,...,72,81,81,81,101,101,101,118,118,118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
965,109,109,109,109,109,109,109,109,109,109,...,91,90,90,90,89,89,89,89,89,89
966,116,116,116,122,122,122,-124,-124,-124,-113,...,110,105,105,105,99,99,99,94,94,94
967,-105,-105,-105,-104,-104,-104,-104,-104,-104,-105,...,120,119,119,119,118,118,118,118,118,118
968,34,34,34,33,33,33,31,31,31,27,...,66,69,69,69,60,60,60,90,90,90
969,75,75,75,82,82,82,87,87,87,90,...,-72,-67,-67,-67,-68,-68,-68,-70,-70,-70

In [5]:
# labelling the donkey with 1
df2["label"]=1

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,150519,150520,150521,150522,150523,150524,150525,150526,150527,label
0,-77,-77,-77,-77,-77,-77,-77,-77,-77,-77,...,-72,-72,-72,-79,-79,-79,-83,-83,-83,0
1,-58,-58,-58,-58,-58,-58,-58,-58,-58,-58,...,-111,-111,-111,-111,-111,-111,125,125,125,0
2,-41,-41,-41,-41,-41,-41,-41,-41,-41,-41,...,-28,-28,-28,-23,-23,-23,-27,-27,-27,0
3,34,34,34,41,41,41,51,51,51,60,...,-70,-70,-70,-71,-71,-71,-66,-66,-66,0
4,-106,-106,-106,-126,-126,-126,114,114,114,-123,...,100,100,100,82,82,82,53,53,53,0

In [7]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,150519,150520,150521,150522,150523,150524,150525,150526,150527,label
0,82,82,82,83,83,83,83,83,83,81,...,104,104,104,97,97,97,102,102,102,1
1,120,120,120,120,120,120,120,120,120,120,...,102,102,102,114,114,114,116,116,116,1
2,-3,-3,-3,-3,-3,-3,-4,-4,-4,-4,...,123,123,123,119,119,119,-115,-115,-115,1
3,-60,-60,-60,-59,-59,-59,-62,-62,-62,-69,...,-113,-113,-113,-118,-118,-118,-105,-105,-105,1
4,104,104,104,113,113,113,109,109,109,96,...,81,81,81,101,101,101,118,118,118,1

In [8]:
# concatting the horse and donkey's dataframe
final_df=pd.concat([df,df2],axis=0)

In [9]:
final_df.head()

,0,1,2,3,4,5,6,7,8,9,...,150519,150520,150521,150522,150523,150524,150525,150526,150527,label
0,-77,-77,-77,-77,-77,-77,-77,-77,-77,-77,...,-72,-72,-72,-79,-79,-79,-83,-83,-83,0
1,-58,-58,-58,-58,-58,-58,-58,-58,-58,-58,...,-111,-111,-111,-111,-111,-111,125,125,125,0
2,-41,-41,-41,-41,-41,-41,-41,-41,-41,-41,...,-28,-28,-28,-23,-23,-23,-27,-27,-27,0
3,34,34,34,41,41,41,51,51,51,60,...,-70,-70,-70,-71,-71,-71,-66,-66,-66,0
4,-106,-106,-106,-126,-126,-126,114,114,114,-123,...,100,100,100,82,82,82,53,53,53,0

In [10]:
# converting into csv file
#image.to_csv("DonkeyHorse.csv")

In [11]:
#df=pd.read_csv("DonkeyHorse.csv")

In [12]:
#df.drop("Unnamed: 0",axis=1,inplace=True)

In [13]:
#df.head()

In [14]:
# separating predictable and target columns
y=final_df["label"]
X=final_df.drop(columns="label")

In [15]:
# spliting data into train and test
from sklearn.model_selection import train_test_split
xTrain,xTest,yTrain,yTest=train_test_split(X,y,
                                        test_size=0.20,
                                        random_state=23)

In [16]:
xTrain.shape,xTest.shape,len(yTrain),len(yTest)

((1612, 150528), (404, 150528), 1612, 404)

#  creating the models

# buliding the decision tree model

In [18]:
import sklearn

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
DT=DecisionTreeClassifier() # object

DT.fit(xTrain,yTrain)

DecisionTreeClassifier()

In [21]:
yTrainPred,yTestPred=DT.predict(xTrain),DT.predict(xTest)

In [22]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [23]:
accuracy_score(yTrain,yTrainPred),accuracy_score(yTest,yTestPred)

(1.0, 0.5396039603960396)

# building the logistic regression

In [24]:
from sklearn.linear_model import LogisticRegression

In [25]:

LR=LogisticRegression()

In [26]:
LR.fit(xTrain,yTrain)

C:\Users\mounika katla\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [27]:
yTrainPred,yTestPred=LR.predict(xTrain),LR.predict(xTest)

In [28]:
accuracy_score(yTrain,yTrainPred),accuracy_score(yTest,yTestPred)

(1.0, 0.5222772277227723)